*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Dancing Script", cursive;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header {
   
 
    align-items: center;
justify-content: space-between;
background-image: url("./doodle\ items.png");



}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 

    
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;

  
  
}
.h1brat{
    color: #00EEFF ;
    font-size: 35px;
    text-shadow: 15px 10px 30px darkblue;
    
}
.menu-btn{
    display: none;
    background-color: inherit;
    color: #00EEFF;
    font-size: 25px;

}
nav ul li a:hover{
    color: #00EEFF;
}
.iandh{
    color: white;
    font-size: 25px;
    gap: 100px;
}
.iandh:hover{
    color: #00EEFF;
    transform: scale(1.1);
    text-shadow: 0 10px 30px rgba(56, 189, 248, 0.6);
    
}
body{
    background-color: #222831;

}
.fcard{
    width: 350px;
    height: 165px;
    background-color: rgba(0,229,255,0.25);
    border-radius: 15px;
    margin: 35px 0;
 text-align: center;
padding-top: 100px;
}
.fcard:hover{
    transform:translateY(-10px);
    box-shadow:0 25px 50px rgba(0,229,255,0.25);
    background-color: darkblue;
    
}
.fcard h1{
    color: white;
}
span{
    color: #00EEFF;
}
.fcard p{
    color: white;
    margin-top: -80px;
    font-size: 20px;
}
.herosec{
    display: flex;
 justify-content: space-between;
}
.fcard img{
    margin-top: 100px;
}
.imgp{
    margin-right: 150px;
  margin-top: 100px;
background-image: url("./doodles\ mixed\ round.png");
background-size: cover;
background-repeat: no-repeat;
border: 1px solid #00EEFF;
border-radius: 20%;
animation-name: img;
animation-duration: 5s;
animation-iteration-count: infinite;

}
.long{
width: 500px;
height: 130px;
background-color: rgba(0,229,255,0.25);
border-radius: 15px;
padding: 15px;
margin-top: -160px;
color: white;

}
.long:hover{
    transform:translateY(-10px);
    box-shadow:0 25px 50px rgba(0,229,255,0.25);
    background-color: darkblue;
}
@keyframes img{
    0%{
       transform: scale(0.5) rotate(0deg); 
    }
    50%{
        transform: scale(1.1) rotate(360deg);  
    }
    100%{
        transform: scale(0.5) rotate(0deg); 
    }
}






















@media(max-width: 768px){
    .menu-btn{
        display: block;
    }
    nav{
        display: none;
    }
    .herosec{
        flex-direction: column;

    }
    
}